.form {
    position: relative;
    display: flex;
    align-items: center;
    /* border-top: 4px solid var(--dark-green); */
    border-bottom: 4px solid var(--dark-green);
    background-color: rgb(251, 255, 0);
    padding: 20px;
    margin-bottom: 24px;
}

.formField {
    position: relative;
    padding: 16px 24px;
    display: flex;
    text-decoration: none;
    color: var(--dark-green);
    background-color: var(--light-yellow);
    border: 2px solid var(--dark-green);
    border-radius: 8px;
    transition: all 0.3s;
    font-size: 16px;
}

.formField:focus-visible,
.formField:hover {
    outline: none;
    border: 2px solid var(--light-green);
    outline-color: var(--light-yellow);

    border-radius: 8px;
}

.searchBtn {
    position: absolute;
    top: 28px;
    left: 210px;
    display: flex;
    padding: 10px 20px;
    color: var(--dark-green);
    background-color: transparent;
    border: none;
    border-radius: 8px;
    transition: all 0.3s;
}

.searchBtn:hover {
    color: var(--main-green);
}

.formField::placeholder {
    color: var(--dark-green);
    opacity: 0.5;
    font-size: 14px;
}